.for-auto-fill-remove-when-done{
--text: ;
--background: ;
--primary: ;
--secondary: ;
--accent: ;
--primary-hover: ; 
--secondary-hover: ; 
--accent-hover: ;      
--background-hover: ;
}

#bookingSection {

    /* ------------- */
    min-height: 50vh;

    /* ----------- */
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

#bookingSection form {
    display: contents;
}

#bookNow {
    border: black 2px solid;
    background-color: var(--secondary);
    margin: 1rem;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#bookNow label, #bookNow input , #bookNow select, #bookNow button{
    display: block;
    width:100%;
    font-size: 1.3rem;
    padding: 0.5rem;
}

#bookNow label {
    display: block;
    width:100%;
    font-size: 1.5rem;
}

#bookNow p {
    text-align: center;
    margin: 0;
}

#bookNow button {
    border-radius: 1rem;
    background-color: var(--accent);
    font-size: 2.2rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

#bookNow button:hover {
    background-color: var(--accent-hover);
}



/* -------------------- */

.viewBookedCommon {
    border: black 2px solid;
    background-color: var(--secondary);
    margin: 1rem;
    border-radius: 2rem;
    padding: 2rem;
    max-height: 50vh;
    overflow: scroll;
}

#bookingList {
    padding: 0;
    height: auto;
}

.listBookings {
    background-color: var(--accent);
    color: var(--background);
    margin: 1rem;
    
    border-radius: 1rem;
    min-height: 5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    font-size: 1.2rem;
    display: contents;

}

.listCommon {
    display: grid;
    grid-template-columns: repeat(4, 1.5fr) 1fr;
    text-align: center;
    align-items: center;
}


#listSorting {   
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.sortingButton {
    background-color: var(--accent);
    width: fit-content;
    padding: 1rem;
    margin: auto;
    border-radius: 1rem;
    color: var(--background);
}

#viewBooked button:hover {
    background-color: var(--accent-hover);
}

#bookingList button{
    height: 100%;
    border-radius: 1rem;

}



.active-sort {
    background-color: var(--accent-hover);
}

.noBookings {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    background-color: var(--accent);
}

.hideNoBook{
    display: none;
}