/* .for-auto-fill-remove-when-done{
--text: ;
--background: ;
--primary: ;
--secondary: ;
--accent: ;
--primary-hover: ; 
--secondary-hover: ; 
--accent-hover: ;      
--background-hover: ;
} */

footer {
    background-color: var(--accent);
    color: var(--background);    
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}


footer .kontakt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    display: inline;
}

footer a {
    color: var(--secondary);
    display: inline;

}

.linkContainer {
    width: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem
}

.linkImg {
    width: 3rem;
    height: auto;
}