.for-auto-fill-remove-when-done{
--text: ;
--background: ;
--primary: ;
--secondary: ;
--accent: ;
--accent-opacity: ;
--primary-hover: ; 
--secondary-hover: ; 
--accent-hover: ;      
--background-hover: ;
}


#introSection {
  /* Defining var for offset */
  --h1offset: 1.5rem;

  background-image: 
    linear-gradient(rgba(0, 0, 0, 0) 75%, #F8F6F0 100%),
    url(../images/hundpensionat5.jpg)
  ;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 30rem;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr auto 0.5fr 1.5fr;
}

.offset-container span{
  display: block;
  color:var(--background);
  font-style: italic;
  font-size: 3.5rem;
  line-height: 3.2rem;
  /* horizontal, vertical, blur, color  */
  text-shadow: 4px 4px 5px var(--text);
  
}

.line-1 {
  transform: translateX(calc( 0 * var(--h1offset)));
}
.line-2 {    
  transform: translateX(calc( 1 * var(--h1offset)));
}
.line-3 {
  transform: translateX(calc( 2 * var(--h1offset)));
}
.line-4 {
  transform: translateX(calc( 3 * var(--h1offset)));
}

.openHours {
  grid-column: 4;
  grid-row:span 2;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  background-color: var(--accent-opacity);
  border-radius: 2rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  width:15rem;
  margin: auto;
  /* horizontal, vertical, blur, color  */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.openHours h3 {
  grid-column: span 2;
}

.openHours *{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.openDay {
  justify-content: flex-start;
}

#openStatusContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  grid-column: 2;
  grid-row: 2;
  gap:1rem;
  
}

#openStatusContainer div {
    width: 150%;
    text-align: center;
    border-radius: 1rem;
    border: var(--text) 1px solid;
    font-size: 1.2rem;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);

}

#openStatus {
  
    font-size: 2rem;
    margin-bottom: 1rem;
}

.openStatustext {
    margin:0;
}

.statusError {
    background-color: rgba(169, 124, 40, 0.9);
}

.statusOpen {
    background-color: rgba(63, 155, 63, 0.9);
}

.statusClosed {
    background-color: rgba(171, 33, 33, 0.9);
}
